Django==1.8.4
PAM==0.4.2
PyICU==1.7
apt-clone==0.2.1
apturl==0.5.2ubuntu4
chardet==2.2.1
command-not-found==0.3
defer==1.0.6
language-selector==0.1
pycups==1.9.67
pycurl==7.19.5
pygobject==3.14.0
python-apt==0.9.3.10ubuntu1
python-debian==0.1.22
six==1.7.3
ubuntu-drivers-common==0.0.0
ufw==0.34-rc-0ubuntu4
unattended-upgrades==0.1
usb-creator==0.2.23
xkit==0.0.0
