{% load bootstrap_toolkit %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>

    {#    Import bootstrap  #}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default">Ubicazione</button>
                    <button type="button" class="btn btn-default">Elementi Catastali</button>
                    <button type="button" class="btn btn-default">Riferimenti Temporali</button>
                    <button type="button" class="btn btn-default">Riferimenti Yuppies</button>
                    <button type="button" class="btn btn-default">Caratteristiche Tecniche</button>
                    <button type="button" class="btn btn-default">Dati Metrici</button>
                    <button type="button" class="btn btn-default">Altri Elementi Costruttivi</button>
                    <button type="button" class="btn btn-default">Riferimenti Yuppies</button>

                </div>
        </div>


        <!-- CONTENT -->
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="bs-example" data-example-id="table-within-panel">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">{{ fabbricato.Nome }}</div>
                    <div class="panel-body">
                        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>pippo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>



<!-- jQuery 2.0.2 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>