{% load bootstrap_toolkit %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Index</title>

    {#    Import bootstrap  #}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-default"><a href="/ubicazione/{{ fabbricato.id }}"> Ubicazione </a></button>
                    <button type="button" class="btn btn-default"><a href="/elementicatastali/{{ fabbricato.id }}"> Elementi Catastali </a></button>
                    <button type="button" class="btn btn-default"><a href="/riferimentitemporali/{{ fabbricato.id }}"> Riferimenti Temporali </a></button>
                    <button type="button" class="btn btn-default"><a href="/riferimentiyuppies/{{ fabbricato.id }}"> Riferimenti Yuppies </a></button>
                    <button type="button" class="btn btn-default"><a href="/caratteristichetecniche/{{ fabbricato.id }}"> Caratteristiche Tecniche </a></button>
                    <button type="button" class="btn btn-default"><a href="/datimetrici/{{ fabbricato.id }}"> Dati Metrici </a></button>
                    <button type="button" class="btn btn-default"><a href="/altrielementicostruttivi/{{ fabbricato.id }}"> Altri Elementi Costruttivi </a></button>

                </div>
        </div>


        <!-- CONTENT -->
        <div class="col-lg-10 col-md-10 col-sm-10">
            <div class="bs-example" data-example-id="table-within-panel">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Ubicazione{{ fabbricato.Nome }}</div>
                    <div class="panel-body">
                        <p>Dettaglio Fabbricato <bold>{{ fabbricato.Nome }}</bold></p>
                    </div>

                    <!-- Table -->
                    <form action="/your-name/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <table class="table">
                              <tbody>
                                {{ form.as_table }}
                              </tbody>
                        </table>

                        <input type="button" value="Submit" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>



<!-- jQuery 2.0.2 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>